body {
    background-color: beige;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*
.centrado {
    text-align: center;
    font-weight: bold;
    font-family: cursive; 
}
*/

header {
    background-color: #469624;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    /* espaciado para la sección de 20 pixeles */
}

footer {
    background-color: #138417;
    /* Color de fondo del footer */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a:hover{
    background-color: #18bc46;
}

.footer-content {
    max-width: 800px;
    /* Ancho máximo del contenido del footer */
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    /* separar el contenido del footer horizontalmente */
    display: inline-block;
    justify-content: space-around;
    /*permite mantener el sentido horizontal de los elementos */
    color: #fff;
    font-size: 20px;
}

/* estilos para la barra de navegacion */
nav {
    background-color: #138417;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block; /*permite mantener el sentido horizontal de los elementos */
    margin-right: 20px;
}

/* Adapto el estilo de supertitulo a los enlaces del navbar */
nav ul li a.supertitulo {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 30px;
}

nav ul li a:hover {
    background-color: #18bc46;
}


img{
    display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
    margin: 0 auto; /* Centrar las imágenes horizontalmente */
    max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
    border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
    border-radius: 10px;
}
img.miimg {
    width: 350px;
    height: 400px;
}

img.miicono{
    width: 50px;
    height: 50px;
}

/* Super titulo */
.supertitulo{
    margin-top: 2px;
    text-align: center;
    font-family: Comic Sans MS;
    font-weight:bold;
    font-size: 80px;
    color: #EBD758;
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
}

.telcofont{
    background-image: linear-gradient(to left, #00b1eb, #009338, #ccd500);   -webkit-background-clip: text;
    color: transparent;
}

p.texto2{
    font-size: 30px;
    text-justify: auto;
    text-align: center;
    font-style: Arial;
}

#copyright{
    font-size: 15px;
}

p.supertitulo{
    text-justify: auto;
    font-size: 35px;
    text-align: center;
    background-color: #138417;
    padding: 10px;
}

span{
    font-weight: bold;
    }

    .search-form {
        margin-right: 20px; /* Agrega un margen a la derecha */
    }
    .orange-button {
        background-color: orange;
        color: white;
        
    }
    
    .orange-button:hover {
        background-color: orangered;
        color: white;
    }

    /* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

header, nav, main, footer {
    padding: 20px;
}

/* Estilos para dispositivos móviles (menos de 600px) */
@media (max-width: 599px) {
    h1, h2 {
        font-size: 18px;
    }

    ul {
        display: block;
    }

    li {
        display: block;
        border-bottom: 1px solid #ccc;
    }

    li:last-child {
        border-bottom: none;
    }

    a {
        display: block;
        text-align: center;
    }
}

/* Estilos para tabletas (entre 600px y 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
    h1, h2 {
        font-size: 24px;
    }

    ul {
        display: flex;
        justify-content: space-around;
    }

    li {
        border-bottom: none;
    }

    a {
        display: inline-block;
        margin-right: 10px;
    }
}

/* Estilos para pantallas medianas y superiores (más de 1024px) */
@media (min-width: 1025px) {
    h1, h2 {
        font-size: 32px;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
    }

    li {
        display: inline-block;
        margin-right: 20px;
    }

    a {
        display: inline-block;
        margin-right: 10px;
    }
}
